<div id="signup-page">
  <h3> ~WELCOME!~ </h3>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field">
      <%= f.label :weight %><br />
      <%= f.text_field :weight, autofocus: true ,:placeholder => "ex. 60kgの場合 60 と入力" %>
    </div>

    <div class="field">a
      <%= f.label :age %><br />
      <%= f.text_field :age, autofocus: true ,:placeholder => "ex. 25" %>
    </div>

    <div class="field">
      <div>karioki</div>
      <%= f.label :gender %><br />
      <%= f.text_field :gender, autofocus: true ,:placeholder => "1" %>
    </div>

    <div class="field">
      <div>height</div>
      <%= f.label :height %><br />
      <%= f.text_field :height, autofocus: true ,:placeholder => "1" %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

    <div class="actions">
      <%= f.submit "Sign up" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>

</div>
