
<div id="users-show">
  <% count_win = 0%>
  <% count_lose = 0%>
  <% count_meter = 0%>
  <% count_yen = 0%>
  <% count_cal = 0%>

  <%@records.each do |record| %>
    <% if record.result == nil%>
      <% next %>
    <% else %>
      <% dis = Distance.get_distance(record.start_station_id,record.goal_station_id,record.direction)%>
      <% count_meter += dis%>
      <%if dis <= 3000 %><% count_yen += 140%>
      <% elsif 3000 < dis && dis <= 6000 %><% count_yen += 160%>
      <% else %><% count_yen += 170%>
      <% end %>
      <% count_yen += 100%>
      <% count_cal += record.consumed_calory%>
      <% if record.result == 0%><% count_win += 1%>
      <% else %><% count_lose += 1%>
      <% end %>
    <% end %>
  <% end %>

<div class="title">
  <%= @user.name %> の成績
</div>
  <div class="screen">
    <div class="data">




    <div class="result">
      <div class="label"><%= embedded_svg("trophy-solid.svg", class: "good-svg") %>勝敗</div>
      <div class="value"><%= count_win %>勝<%= count_lose %>敗</div>

    </div>
    <div class="meter">
      <div class="label"><%= embedded_svg("walking-solid.svg", class: "good-svg") %>走行距離</div>
      <div class="value">
      <%= count_meter.to_s(:delimited) %>m</div>
    </div>
    <div class = "yen">
      <div class="label"><%= embedded_svg("yen-sign-solid.svg", class: "good-svg") %>運賃</div>
      <div class="value">
      <%= count_yen.to_s(:delimited) %>円</div>
    </div>
    <div class="cal">
      <div class="label"><%= embedded_svg("fire-solid.svg", class: "good-svg") %>消費カロリー</div>
      <div class="value">
      <%= count_cal.to_s(:delimited) %>cal</div>
    </div>
    <div class="tmp">
      <div class="label"></div>
      <div class="value">
      </div>
    </div>
  </div>

  </div>

  <div class="title">
  過去の記録
</div>
  <div class="main-content">
    <ul>
      <%@records.each do |record| %>
        <% if record.result == nil%>
          <% next %>
        <% else %>
        <li>
          <div class = "opponents" >
            <a href = '/records/<%= record.id %>'>
            <div class = "number">
              <% if record.result == 0%>WIN
              <% else %>LOSE
              <% end %>
            </div>
            <div class = "time">
              <%= record.updated_at.in_time_zone('Tokyo').strftime('%Y/%m/%d')%>
                　　
              <%= Station.find(record.start_station_id).name_ja%>
                ⇒
              <%= Station.find(record.goal_station_id).name_ja%>
            </div>
            </a>
          </div>
        </li>
        <% end %>
      <% end %>
    </ul>
  </div>

</div>
