<div id="record-edit">
  <h2>Records/edit画面</h2>
  <div id="timer">00:00</div>
    <script>
      $(function(){
        var timer = document.getElementById('timer');
        var startTime;
        var elapsedTime = 0;
        var timerId;
        var timeToadd = 0;

        function updateTimetText(){
          var m = Math.floor(elapsedTime / 60000);
          var s = Math.floor(elapsedTime % 60000 / 1000);
          m = ('0' + m).slice(-2);
          s = ('0' + s).slice(-2);
          timer.textContent = m + ':' + s;
        }
        function countUp(){
          timerId = setTimeout(function(){
            elapsedTime = Date.now() - startTime + timeToadd;
            updateTimetText()
            countUp();
          },10);
        }
        window.onload = function(){
          var formData = new FormData(this);
          startTime = Date.now();
          countUp();
        }
        $('.GOAL').on('click', function(e){
          var formData = new FormData(this);
          clearTimeout(timerId);
          console.log(timer.textContent);
          $("#input_running_time").attr("value", timer.textContent);
          var cal = 1.05 * 6.0 / 60 * parseFloat(timer.textContent) * <%= current_user.weight %>;
          console.log('cal : %d', cal);
          $("#input_calory").attr("value", cal);
          var result;
            if (parseFloat(timer.textContent) >= 1 ) {
              result = 1;
            } else {
              result = 0;
            }
            console.log(result);
            $("#result").attr("value", result);
        })
        $('img').css({left:'0',position:'absolute'});
          setInterval(function(){

        $('img').stop().animate({left:'+=' + '10' + 'px'},1000);

        },3000);
      });
    </script>

  <div class="contents row">
    <%= form_tag("/records/#{@record.id}", method: :patch) do %>
      <div class="container">
        <h2>RUN NOW!</h2>
        <h2><%= current_user.name %> VS 山手線</h2>
        <div class="flex">
          <div class="start"> START
            <%= Station.find(@record.start_station_id).name_ja %> 駅 </div>
          <div class="goal"> GOAL
          <%= Station.find(@record.goal_station_id).name_ja %> 駅 </div>
          <div class="train">
            <%= image_tag 'photo01.jpg', :size =>'100x100' %>
          </div>
        </div>
        <input id = "input_running_time" type="hidden" name="running_time">
        <input id = "input_calory" type="hidden" name="consumed_calory">
        <input id = "result" name="result" type="hidden">
        <div class="wrap1">
          <button class="GOAL" type="submit">GOAL</button>
        </div>
      <% end %>
      </div>
  </div>
