<script>
  $(function(){
      $('.station').on('click', function(e){
        e.preventDefault();
        var ele = document.getElementsByClassName("station");
        for(var i = 0; i < ele.length; i++){
           $(ele[i]).removeClass("selected");
        }

        if($(this).parent().parent().hasClass('inner-group')){
          $("#form_direction").attr("value", 0);
        }else{
          $("#form_direction").attr("value", 1);
        }
        $(this).addClass("selected");
        $("#form_goal_station").attr("value", this.id);
      })
    })

  $(document).ready(function(){
    var newWidget="<div class='widget-wrapper'> <ul class='tab-wrapper'></ul> <div class='new-widget'></div></div>";
    $(".widget").hide();
    $(".widget:first").before(newWidget);
    $(".widget > div").each(function(){
      $(".tab-wrapper").append("<li class='tab'>"+this.id+"</li>");
      $(this).appendTo(".new-widget");
    });
    $(".tab").click(function(){
      $(".new-widget > div").hide();
      $('#'+$(this).text()).show();
      $(".tab").removeClass("active-tab");
      $(this).addClass("active-tab");
    });
    $(".tab:first").click();
  });
</script>


<div id="record-new-next">
  <div class="title">
    <h2>Where to Goal ?</h2>
  </div>

  <div id='container' class="main-content">
    <div class='widget'>
      <div id='inner' class="tab-content">
        <table class="group-table inner-group">
<!--           <thead>
            <tr>
              <th>Station</th>
              <th>Distance</th>
            </tr>
          </thead> -->
          <tbody>
            <% Record.get_stations_inner(@record.start_station_id,5).each do |station| %>
              <tr id = <%=station%> class="station">
                <td><i class="fa fa-university"></i>　<%= Station.find(station).name_ja %></td>
                <% dis = Distance.get_distance(@record.start_station_id,station,0)%>
                <td><%= dis %>m　(<i class="fa fa-user"></i><%= dis / 70 %>分)</td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <div class='widget'>
      <div id='outer' class="tab-content">
        <table id class="group-table outer-group">
<!--           <thead>
            <tr>
              <th>Station</th>
              <th>Distance</th>
            </tr>
          </thead> -->
          <tbody>
            <% Record.get_stations_outer(@record.start_station_id,5).each do |station| %>
              <tr id = <%=station%> class="station">
                <td><i class="fa fa-university"></i>　<%= Station.find(station).name_ja %></td>
                <% dis = Distance.get_distance(@record.start_station_id,station,1)%>
                <td><%= dis %>m　(<i class="fa fa-user"></i><%= dis / 70 %>分)</td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class = "button">
    <%= form_tag("/records/#{@record.id}/set_goal", method: :patch) do %>
      <input id = "form_goal_station" name="goal_station_id" type = "hidden">
      <input id = "form_direction" name="direction" type = "hidden">
      <button class ="input__button "id = "start" type="submit">NEXT</button>
    <% end %>
  </div>
</div>

