<div id="records_show-page">

  <div class="wrap">
    <div>
    <% if @record.result == 0%>
    <h3 class="win"> YOU WIN! </h3>
    <% else %>
    <h3 class="lose"> YOU LOSE! </h3>
    <% end %>
    </div>

    <div class="flex">

      <div class="train">

      <p class="station_start"><%= Station.find(@record.start_station_id).name_ja %>駅</p>


      <%= image_tag '9407.jpg', :size =>'100x50', class: "buruburu" %>
      <p class="station_goal"><%= Station.find(@record.goal_station_id).name_ja %>駅</p>

      </div>
    </div>

    <div class="circle1">
      <p class="time"><%= @record.running_time %></p>
    </div>

    <div class="circle2">
      <p class="calory"><%= @record.consumed_calory %></p>
      <p class="calory_1">kcal</p>
    </div>

    <div class="wrap2">
      <button class="button2" onclick="location.href='/'">AGAIN</button>
    </div>

  </div>

</div>

