<div id="records_show-page">

  <div class="wrap">
    <% if @record.result == 0%>
      <h3 class="win"> YOU WIN!  </h3>
    <% else %>
      <h3 class="lose"> YOU LOSE! </h3>
    <% end %>


<!-- <div id="record-edit"> -->

<!-- <div class="flex">
    <ul>
      <li> -->

<!--       </li>
    </ul>

  </div> -->



<div>
<div class="circle-1">
  <span>
      <%= @record.running_time%>
  </span>
</div>





<div class="circle-2">
  <span>
    <%= @record.consumed_calory%>

  </span>
</div>

<div class = title-1> <span>Running Time</span> </div>
<div class = title-2><span> Calory</span> </div>






<div class="circle-3">
  <span>
      <% dis = Distance.get_distance(@record.start_station_id,@record.goal_station_id,@record.direction)%>
      <%= dis %>
  </span>
</div>



<div class="circle-4">
  <span>
      <%if dis <= 3000 %>
            140円
          <% elsif 3000 < dis && dis <= 6000 %>
            160円
          <% else %>
            170円
          <% end %>

  </span>
</div>
</div>

<div class = title-3> <span> Distance </span> </div>
<div class = title-4><span> Save the fare </span> </div>

</div>


        <div class = "opponents">
          <div class = "number"><!-- <i class="fa fa-subway"> --><!-- </i> --></div>
          <div class = "time">
            <% json = Jre_api.get_train_timetable(@record.direction) %>
            <%= Station.find(@record.start_station_id).name_ja%>
            <%= Record.get_arrivalTime(@record.opponent,@record.start_station_id,json)%>
               ⇒
            <%= Station.find(@record.goal_station_id).name_ja%>
            <% arrivalTime = Record.get_arrivalTime(@record.opponent,@record.goal_station_id,json) %>
            <%= arrivalTime %>
            <div style="display: hidden" id="arrivalTime" data-arrivalTime=<%= arrivalTime %>></div>
          </div>
        </div>




    <div class="wrap3">
      <button class="button2" onclick="location.href='/users/<%= current_user.id %>'">DATA</button>
    </div>
  </div>
</div>


